.DescSection
{
	margin:0 0 25px;
}
.DescSection
{
	margin:0 0 25px;
}
.FilesList table
{
	width:100%;
}
.FilesList table td
{
    vertical-align: middle !important;
}
.FilesList .Item
{
	border-top:1px solid #F0F0F0;
padding: 25px 0 0;
margin: 0 0 15px;
	line-height:normal;
}
.FilesList .Item:first-child
{
	border:none;
	padding:0;
}
.FilesList .Item .IconTD
{
    vertical-align: top !important;
    width:58px;
}
.FilesList .Item .IconTD span
{
    display: inline-block;
	height: 50px;
	width: 50px;
}
.FilesList .Item .IconTD .doc, .FilesList .Item .IconTD .docx
{
	background:url(doc.png);
	background-position:0% 0%;
	background-repeat:no-repeat;	
	background-size: contain;
}
.FilesList .Item .IconTD .xls
{
	background:url(xls.png);
	background-position:0% 0%;
	background-repeat:no-repeat;	
	background-size: contain;
}
.FilesList .Item .IconTD .jpg
{
	background:url(jpg.png);
	background-position:0% 0%;
	background-repeat:no-repeat;	
	background-size: contain;
}
.FilesList .Item .IconTD .pdf
{
	background:url(pdf.png);
	background-position:0% 0%;
	background-repeat:no-repeat;
	background-size: contain;	
}
.FilesList .Item .IconTD .zip
{
	background:url(zip.png);
	background-position:0% 0%;
	background-repeat:no-repeat;	
	background-size: contain;
}
.FilesList .Item .IconTD .rar
{
	background:url(rar.png);
	background-position:0% 0%;
	background-repeat:no-repeat;	
	background-size: contain;
}
.FilesList .Item .NameTD
{
	vertical-align: middle;
	padding: 0 0 0 10px;
}
.FilesList .Item .Name
{
	margin:0 0 5px;
}
.FilesList .Item .Name a
{    
    color: #212121;
}
.FilesList .Item .Format
{
	font-size:12px;
	color:#9199ab;
}
.FilesList .Item .Format span
{
	text-transform:uppercase;
}
.FilesList .Item .Anonse
{
    color: #aaa;
    margin: 0px 0 10px;
    font-size: 14px;
}
.FilesList .Item .Anonse p
{
	padding:0;
}
.FilesList .Item .Date
{
	margin:6px 0 0;
	color:#393939;
	font-size:11px;
}
.FilesList .Item .PublicDate
{
    color: #737373;
    font-size: 11px;
    margin: 5px 0 0;
}
.FilesList .Item .FormatTD
{
	width:125px;
}
.FilesList .Item .DownloadTD a
{
	text-decoration:none;
    border-bottom: 1px dotted;
}
.FilesList .Item .DownloadTD .Size
{
    color: #c4c4c4;
	padding:2px 0 0;
}