.InfoDetail .Image
{
	margin:0 0 25px 0;
}
.InfoDetail .Date
{
    color: #8b959f;
    font-family: "RobotoItalic";
    font-size: 11px;
	margin:0 0 20px;
}
.InfoDetail .Anonse
{
	margin:0 0 15px;
}

.PhotoBlock
{
	position:relative;
	margin:0 0 35px;
}
#PhotoBlock .owl-dots
{
    position: absolute;
    right: 0;
    text-align: right;
    width: 100%;
    z-index: 10;
    top: -34px;
}
#PhotoBlock .owl-dots .owl-dot
{    
	display: inline-block;
	zoom: 1;
	*display: inline;
	vertical-align: middle;  
	margin: 0 4px;
}
#PhotoBlock .owl-dots .owl-dot span, 
#PhotoBlock .owl-dots .owl-dot span:hover
{
    background: #e1e0e4;
	box-shadow:none;
	display: block;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	text-indent: -9999px;
    width:10px;
    height:10px;
	transition:none;
}
#PhotoBlock .owl-dots .owl-dot.active span
{
    background:#1572bc;
    border:none;
    width:10px;
    height:10px;
}
#PhotoBlock .owl-nav
{
    position: absolute;
    top:45%;
	width:100%;
    z-index: 10;
}
#PhotoBlock .BigLink
{
	display:block;
}
#PhotoBlock .owl-nav div
{
	display:none;
	text-indent:-9999px;
	height:59px;
    width: 59px;
}
#PhotoBlock .owl-nav .owl-prev
{
	background-image: url(left-arrow.png);
	background-repeat:no-repeat;
	background-position: 0% 0%; 
    float: left;
	margin:0 0 0 18px;
}
#PhotoBlock .owl-nav .owl-next
{
	background-image: url(right-arrow.png);
	background-repeat:no-repeat;
	background-position: 0% 0%;  
    float: right;
	margin:0 18px 0 0;
}
#PhotoBlock:hover .owl-nav div
{
	display:inline-block;
}
.DocBlock
{
	margin:32px 0 0;
}
.DocBlock .TitleDoc
{
	border-bottom:1px solid #ccd4dc;
    color: #333333;
    font-family: "RobotoBold";
    font-size: 16px;
    font-weight: normal;
    line-height: 1.3em;
    margin: 0 0 30px;
	padding:0 0 27px;
}
.FilesList table
{
	width:100%;
}

.FilesList .Item p 
{
    padding: 0;
}
.FilesList .Item .DocsInfo
{
	position:relative;
}
.FilesList .Item .DocsInfo .Info
{
	position:relative;
	padding:0 65px 0 0;
}
.FilesList .Item .DocsInfo .IconDoc
{
	background: url(doc-icon.png);
	background-repeat:no-repeat;
	background-position: 100% 0%;
	padding:6px 7px 0 0;
    position: absolute;  
	top: 6px;
    right: 0;
}
.FilesList .Item .DocsInfo .IconDoc span
{
	background:#5f7895;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	color:#ffffff;
	font-size:10px;
    padding:1px 6px;
}
.FilesList .Item
{
	border:none;
	padding:0;
	margin:0 0 30px;
}
.FilesList .Item:first-child
{
	border:none;
	padding:0;
}
.FilesList .Item .IconTD
{
    vertical-align: top !important;
    width:58px;
}
.FilesList .Item .IconTD span
{
    display: inline-block;
    height: 44px;
    width: 34px;
}
.FilesList .Item .IconTD .doc, .FilesList .Item .IconTD .docx, .FilesList .Item .IconTD .tif
{
	background:url(doc.png);
	background-position:0% 0%;
	background-repeat:no-repeat;	
}
.FilesList .Item .IconTD .xls, .FilesList .Item .IconTD .xlsx
{
	background:url(xls.png);
	background-position:0% 0%;
	background-repeat:no-repeat;	
}
.FilesList .Item .IconTD .jpg, .FilesList .Item .IconTD .JPG, .FilesList .Item .IconTD .jpeg
{
	background:url(jpg.png);
	background-position:0% 0%;
	background-repeat:no-repeat;	
}
.FilesList .Item .IconTD .pdf, .FilesList .Item .IconTD .PDF
{
	background:url(pdf.png);
	background-position:0% 0%;
	background-repeat:no-repeat;	
}
.FilesList .Item .IconTD .zip
{
	background:url(zip.png);
	background-position:0% 0%;
	background-repeat:no-repeat;	
}
.FilesList .Item .IconTD .rar
{
	background:url(rar.png);
	background-position:0% 0%;
	background-repeat:no-repeat;	
}
.FilesList .Item .NameTD
{
	vertical-align: middle;
}
.FilesList .Item .Name
{
font-size:14px;
	margin:0 0 5px;
}
.FilesList .Item .Name a
{
	color:#2d578a;
	border-bottom:1px solid #ccd4dc;
}
.FilesList .Item .Name a:hover
{
    border-bottom: 1px solid #a4b0be;
    color: #2d435e;
}
.FilesList .Item .Format
{
    font-family: "RobotoItalic";
	color:#a0aab4;
	font-size:11px;
}
.FilesList .Item .Format span
{
	text-transform:uppercase;
}
.FilesList .Item .Anonse
{
    color: #333333;
    margin: 0 0 10px;
    font-size: 12px;
}
.FilesList .Item .Anonse p
{
	padding:0;
}
.FilesList .Item .Date
{
    color: #8b959f;
    font-family: "RobotoItalic";
    font-size: 11px;
	margin:0 0 10px;
}
.FilesList .Item .PublicDate
{
    color: #8b959f;
    font-family: "RobotoItalic";
    font-size: 11px;
	margin:0 0 10px;
}
.FilesList .Item .FormatTD
{
	width:125px;
}
.FilesList .Item .DownloadTD a
{
	text-decoration:none;
    border-bottom: 1px dotted;
}
.FilesList .Item .DownloadTD .Size
{
    color: #c4c4c4;
	padding:2px 0 0;
}